@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --black: #000;

  --red: #DF2E38;
  --dark-red: #B2252D;

  --green: #5D9C59;
  --dark-green: #155E10;

  --grey1: #F0F0F0;
  --grey2: #D9D9D9;
  --grey3: #CACACA;
  --grey4: #2A2A2A;
}
